# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Notebooks
.ipynb_checkpoints

# TensorMorph Artifacts
data/*.csv
models/*.joblib
experimental/*.h

# VSCode
.vscode/

# macOS
.DS_Store